<layout-nav></layout-nav>
<br>
<div class="card">
    <p-panel>

        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <h3 class="font-bold">Editar paciente</h3>
            </div>
        </ng-template>
        <!--DATOS DE CONTACTO-->
        <p-panel [toggleable]="true">
            <p-header>
                <h4>Datos de contacto</h4>
            </p-header>
            <!--NOMBRES Y APELLIDOS-->
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <p-inputGroup>
                    <input pInputText class="p-inputtext-sm" type="text" [(ngModel)]="paciente.primerNombre"
                        placeholder="**Primer Nombre" />
                </p-inputGroup>

                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>

                    <input pInputText class="p-inputtext-sm" type="text" [(ngModel)]="paciente.segundoNombre"
                        placeholder="Segundo Nombre" />
                </p-inputGroup>


            </p-inputGroup>
            <br>
            <p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input pInputText class="p-inputtext-sm" type="text" [(ngModel)]="paciente.primerApellido"
                        placeholder="**Primer Apellido" />
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input pInputText class="p-inputtext-sm" type="text" [(ngModel)]="paciente.segundoApellido"
                        placeholder="Segundo Apellido" />

                </p-inputGroup>
            </p-inputGroup>
            <!--VALIDACIONES-->
            <p-inputGroup>
                <p-inputGroup>
                    <span *ngIf="!paciente.primerNombre">

                    </span>
                </p-inputGroup>
                <p-inputGroup>
                    <span *ngIf="!paciente.segundoNombre">

                    </span>
                </p-inputGroup>
                <p-inputGroup>
                    <span *ngIf="!paciente.primerApellido">

                    </span>
                </p-inputGroup>
                <p-inputGroup>
                    <span *ngIf="!paciente.segundoApellido">

                    </span>
                </p-inputGroup>
            </p-inputGroup>
            <br>

            <!--Fecha de nacimiento-->
            <p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-at"></i>
                    </p-inputGroupAddon>

                    <input pInputText class="p-inputtext-sm" type="text" [(ngModel)]="paciente.correo"
                        placeholder="**Correo electronico" />
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-calendar"></i>
                    </p-inputGroupAddon>
                    <p-inputGroup>
                        <p-calendar [(ngModel)]="paciente.fechaNacimiento" [touchUI]="true" [readonlyInput]="true"
                            placeholder="**Fecha nacimiento" aria-required="true"></p-calendar>
                    </p-inputGroup>


                </p-inputGroup>

                <p-inputGroup aria-required="true">
                    <p-inputGroupAddon>
                        <i class="pi pi-hashtag"></i>
                    </p-inputGroupAddon>
                    <div class="card flex justify-content-center">
                        <p-dropdown [options]="generos" [(ngModel)]="paciente.genero" [style]="{'width':'15rem'}"
                            aria-required="true" placeholder="**Genero"></p-dropdown>
                    </div>
                </p-inputGroup>


                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-phone"></i>
                    </p-inputGroupAddon>
                    <input pInputText class="p-inputtext-sm" type="text" [(ngModel)]="paciente.numeroCelular"
                        placeholder="Número celular" />

                </p-inputGroup>
            </p-inputGroup>
            <br>


            <p-footer>
                <div *ngIf="paciente.primerNombre && paciente.correo && paciente.fechaNacimiento && paciente.genero">
                    <p-button type="submit" (onClick)="onSubmit()" class="mx-2" label="Guardar paciente"
                        icon="pi pi-plus"></p-button>
                </div>
                <p>**Campos obligatorios</p>
                <div>
                    <span *ngIf="primerNombre">Hace falta el campo obligatorio primer nombre</span>
                </div>
                <div>
                    <span *ngIf="primerApellido">Hace falta el campo obligatorio primer apellido,</span>
                </div>
                <div>
                    <span *ngIf="correo">Hace falta el campo obligatorio correo</span>
                </div>
                <div>
                    <span *ngIf="genero">Hace falta el campo obligatorio genero</span>
                </div>

            </p-footer>



        </p-panel>
        <br>

        <!--HISTORIA MEDICA-->
        <p-panel [toggleable]="true" [collapsed]="true">
            <p-header>
                <h4>Historia del paciente</h4>
            </p-header>
            <div *ngIf="historia" class="card flex flex-column md:flex-row gap-3">
                <br>
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-sort-alt"></i></p-inputGroupAddon>
                    <input type="text" [(ngModel)]="historia.estatura" pInputText placeholder="Estatura" />
                    <p-inputGroupAddon>cm</p-inputGroupAddon>
                </p-inputGroup>
                <br>
                <p-inputGroup >
                    <p-inputGroupAddon><i class="pi pi-th-large"></i></p-inputGroupAddon>
                    <input type="text" [(ngModel)]="historia.peso" pInputText placeholder="Peso" />
                    <p-inputGroupAddon>kg</p-inputGroupAddon>
                </p-inputGroup>
                <br>
                <div class="card flex justify-content-center">
                    <textarea [(ngModel)]="historia.enfermedades" rows="10" cols="50" pInputTextarea [autoResize]="true"
                        placeholder="Enfermedades"></textarea>
                </div>


            </div>
            <div *ngIf="!historia" class="card flex flex-column md:flex-row gap-3">
                <br>
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-sort-alt"></i></p-inputGroupAddon>
                    <input type="text" [(ngModel)]="estatura" pInputText placeholder="Estatura" />
                    <p-inputGroupAddon>cm</p-inputGroupAddon>
                </p-inputGroup>
                <br>
                <p-inputGroup >
                    <p-inputGroupAddon><i class="pi pi-th-large"></i></p-inputGroupAddon>
                    <input type="text" [(ngModel)]="peso" pInputText placeholder="Peso" />
                    <p-inputGroupAddon>kg</p-inputGroupAddon>
                </p-inputGroup>
                <br>
                <div class="card flex justify-content-center">
                    <textarea [(ngModel)]="enfermedades" rows="10" cols="50" pInputTextarea [autoResize]="true"
                        placeholder="Enfermedades"></textarea>
                </div>


            </div>

            <p-footer>
                <div>
                    <p-button type="submit" (onClick)="addHistoria()" *ngIf="(estatura && peso && enfermedades) && !historia"
                        class="mx-2" label="Guardar historia" icon="pi pi-plus"></p-button>
                </div>
                <!--Si existe una historia, es porque está asociada con un paciente, entonces en vez de guardar una historia nueva con el mismo idPaciente
                se debe de actualizar la historia -->
                <div>
                    <p-button type="submit" (onClick)="editarHistoria()" *ngIf="historia"
                        class="mx-2" label="Actualizar historia" icon="pi pi-plus"></p-button>
                </div>
                <div *ngIf="historia">
                    <div>
                        <span *ngIf="!estatura">Hace falta el campo obligatorio estatura,</span>
                    </div>
                    <div>
                        <span *ngIf="!peso">Hace falta el campo obligatorio peso</span>
                    </div>
                    <div>
                        <span *ngIf="!enfermedades">Hace falta el campo obligatorio enfermedades</span>
                    </div>
                </div>
                
            </p-footer>
        </p-panel>


        <ng-template pTemplate="footer">

            <div>
                <p-button (onClick)="irListaPacientes()" class="mx-2" label="Regresar" icon="pi pi-arrow-left"
                    severity="danger"></p-button>
            </div>
            <br>
        </ng-template>


    </p-panel>
</div>